.meidaArbiterLogo {
	font-size: 1.7em;
	font-family: monospace;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	background: red;
	text-align: center;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 2px 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px 2px #ccc;
	float: left;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding:0;
}
form {
	margin:0;
	padding:0;
}
fieldset {
	padding:2px;
}
.entry {
	border: 1px solid gray;
	overflow: hidden;
	margin: 4px;
	box-shadow: 2px 2px 2px 2px #CCCCCC;
	padding: 4px;
}
.duration {
	position: absolute;
	text-shadow: red;
	color: white;
	font-size: 11px;
	margin: 6px;
	background-color: black;
}
.thumbnail {
	position: relative;
	float: left;
	
}
.rating {
	position: absolute;
	margin: 80px;
	padding-left: 10px;
	font-size: 11px;
	color: white;
}

.description {
	font-size: small;
}