.meidaArbiterLogo {
	font-size: 1.7em;
	font-family: monospace;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	background: red;
	text-align: center;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 2px 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px 2px #ccc;
	float: left;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding:0;
}
form {
	margin:0;
	padding:0;
}
fieldset {
	padding:2px;
}